.details {
    background-color: darkolivegreen;
    float: left;
    height: 900px;
    width: 400px;
    outline: black thick;
}

img {
    display: block;
    margin-left: 62.5%;
    height: 200px;
    width: 150px; 
}

.main {
    margin-left: 1%;
    float: inline-start;
    width: fit-content;
}

.contact{
    margin-top: -170px;
}

.education{
    margin-top: 100px
}