body {
  margin: 0;
  padding: 0;
}

.carousel-container {
  width: 90%;
  max-width: 1260px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-arrow::before {
  background-color: transparent;
  color: black;
  font-size: 30px;
}

.slick-prev {
  left: -100px;
}