.body{
    margin: 0;
    padding: 0;
}

.page_wrapper{
    padding: 0;
    margin: 0;
    font-family: 'Mulish',Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #111111;
}

.header, .main_section{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
  }
  
  .header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 857px;
    margin-bottom: 110px;
  }
  
  .header_logo{
    width: 90px;
  }
  
  .header_nav a , .footer_navigation a{
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    letter-spacing: -0.35px;
  }

  .header_nav{
    display: flex;
    column-gap: 29px;
}

.main_introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 140px;
    margin-bottom: 61px;
  }
  
  .introduction_heading{
    width: 100%;
    max-width: 475px;
    font-size: 40px;
    font-weight: bold;
    line-height: 55px;
  }

  .introduction{
    line-height: 26px;
    width: 100%;
    max-width: 635px;
    font-weight: 200;
  }
  
.portofolio_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 77px;
    max-width: 335px;   
}

.labels, .list_info{
    list-style: none;
}

.project_informations{
    display: inline-block;
}

.informations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 77px;
}

.info_detailed{
    text-align: right;
}

.informations{
    border-bottom: 1px solid;
    color:#979797
}

.main_image{
    margin-bottom: 45px;
}

.main_paragraph{
    font-size: 16px;
    line-height: 26px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 45px;
}

.flex_images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 132px;
}

.footer_section{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    margin-bottom: 44px;
  }

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 667px;
  }

  .footer_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //column-gap: 30px;
  }

  .contacts{
    margin-right: 95px;
  }

  .projects{
    margin-right: 30px;
  }